header .n1{
    width: 1249px;
    height: 50px;
    background: rgba(249, 243, 254, 1);
    display: flex;
    justify-content: center;
    gap: 20px;
}
.n1 span{
    margin-top: 10px;
    margin-left: 30px;
}
.n2{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 1249px;
    height: 50px;
    background: rgba(255, 255, 255, 1);
   

}
.n2 span{
    margin-top: 13px;
    margin-left: 35px;

}
.p{
    margin-top: 12px;
    width: 127px;
    height: 27px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pe{
   width: 87px;
   height: 18px;
   background-color: gray;
   font-size: 13px;
   
}
.n3{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    
    
    width: 1249px;
    height: 60px;
    background: rgba(255, 255, 255, 1);
  
}
.p0{
    margin-top: 10px;
    grid-column: 5/6;
    text-align: center;
}
.p02{
    font-size: 13px;
    text-align: center;
    grid-column: 6/7;
}
.p033{
    font-size: 13px;
    grid-column: 7/8;
    text-align: center;
}
.n4{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1249px;
    height: 47px;
    background: rgba(255, 255, 255, 1);
       
}
.i7{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
}
.i8{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: blueviolet;
}
.i1{
    font-size: 10px;
}
header{
    width: 1249px;
    height: 190px;
    
}